button{
    background-color: aliceblue;

}
.inner{
    height: 150px;
    width: 150px;
    background-color:darkcyan;
    display: inline-block;
    margin: 5px;
    text-align: center;
   line-height: 150px;
}